@import "../node_modules/rfs/scss";

section {
    .left-content .main-text {
        @include font-size(48px);
    }

    .right-content {
        .headers {
            @include font-size(36px);
        }

        p {
            @include font-size(16px);
        }
    }

    .paths-intro {
        h2 {
            @include font-size(36px);
        }

        p {
            @include font-size(16px);
        }
    }

    .path-item p {
        @include font-size(24px);
    }
}

section :global(h2) {
    @include font-size(36px);
}

section :global(p) {
    @include font-size(16px);
}

.call-to-action {
    @include font-size(24px);
}