@import "../node_modules/rfs/scss";

section {
    div {
        p .headers {
            @include font-size(16px);
        }
    }

    .left-content .main-text {
        @include font-size(48px);
    }

    h2, .headers {
        @include font-size(36px);
    }

    p {
        @include font-size(16px);
    }

    .path-item p {
        @include font-size(24px);
    }
}

h2 {
    @include font-size(36px);
}

h3 {
    @include font-size(18px);
}

p {
    @include font-size(16px);
}

section :global(h2), div :global(h2), .info-container :global(h2) {
    @include font-size(36px);
}

section :global(p), div :global(p), .info-container :global(p) {
    @include font-size(16px);
}

.call-to-action {
    @include font-size(24px);
}